.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: #5B738B;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.login {
  position: absolute;
  right: 50px;
  font-size: 15px;
}
