.card {
    max-width: 700px;
    margin: 25px auto;
    padding: 10px;
    text-align: center;
}

.mat-form-field {
    width: 100%;
    padding: 20px;
}

button{
    margin-left: 10px;
}

h2{
    font-size: 28px;
}

h3{
    margin-top: 12px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 25px;
}

mat-card {
    margin-top: 20px;
}

.mat-list-item-divider {
    border-bottom: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
}

span{
    font-family: cursive;
    margin-bottom: 5px;
}

.my-hr {
    height: 5px;
    border: none;
    background-color: black;
}

.clear-button {
    background-color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}