.container{
    display: flex;
    margin-left: 450px;
    margin-right: 100px;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top:0;
}

ul{
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    width: 500px;
    box-sizing: border-box;
}

ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    background: deepskyblue;
    padding: 10px 20px;
    transition: 0.5s;
    margin: 15px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 20px;
}


ul li:hover {
    transform: scale(1.1);
}