input{
    margin-top:2px;
}

button{
    background-color: mediumblue;
    width: 120px;
    height: 25px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.button {
    text-align:center;
}

button:hover{
    color: #fff;
}