<div>

    <form [formGroup]="urlForm" (ngSubmit)="onSubmit()" >
        <label>Song Title:</label><br>
        <input type="text" formControlName="title" name="sTitle"/>
        <div *ngIf="urlForm.controls['title'].valid ==false && urlForm.controls['title'].touched">
            <div *ngIf="urlForm?.controls?.['title']?.errors?.['required']" style="background-color: red">
                Title is required
            </div>
        </div>
        <br>

        <label>Song URL:</label><br>
        <input type="text" formControlName="url" name="sUrl"/>
        <div *ngIf="urlForm.controls['url'].valid == false && urlForm.controls['url'].touched">
            <div *ngIf="urlForm?.controls?.['url']?.errors?.['required']" style="background-color: red">
                URL is required
            </div>
            <div *ngIf="urlForm?.controls?.['url']?.errors?.['pattern']" style="background-color: red">
                URL format is wrong.
            </div>
        </div>

      <br>
      <label>Description:</label><br>
      <input type="text" formControlName="desc" name="sDesc"/>
      <div *ngIf="urlForm.controls['title'].valid ==false && urlForm.controls['desc'].touched">
        <div *ngIf="urlForm?.controls?.['desc']?.errors?.['required']" style="background-color: red">
          Title is required
        </div>
      </div>
      <br>
      <div class="button">
        <button type="submit">Submit</button>
      </div>
    </form>
</div>
