<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">
<div class="container">
    <div class="box">
        <div class="details">
            <div class="content">
                <i class="fa fa-music" aria-hidden="true"></i>
                <h2>Best Songs</h2>
                <a routerLink="bestSong">See more</a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="details">
            <div class="content">
                <i class="fa fa-headphones" aria-hidden="true"></i>
                <h2>Iconic Songs</h2>
                <a routerLink="iconicSong">Read more</a>
            </div>
        </div>
    </div>
</div>



