.container {
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 5px solid black;
    border-radius: 15px;
}

.login {
    justify-content: center;
    height: 50%;
    background: darkslategrey;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
}

mat-form-field {
    display: block;
    width: 100%;
}

button {
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #0069d9;
}

h3{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 35px;
    color: lightgrey;
}

.inputs{
    margin: auto;
    border-radius: 15px;
    padding: 16px 16px 0 16px;
    border: 2px solid black;
    width: 82%;
}