<div class="container" id="container">
    <div class="login" id="login">
        <form class="form" name="login-form" method="get" action="#" #loginForm="ngForm">
            <h3>Insert Credentials</h3>
            <div class="inputs">
                <mat-form-field class="formfield">
                    <mat-label>Username</mat-label>
                    <mat-error *ngIf="!username.valid">Username required</mat-error>
                    <input matInput type="text" placeholder="username" id="username" name="username" required #username="ngModel" ngModel>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" id="password" placeholder="password" name="password" required
                           pattern="(?=.*\d)(?=(.*[A-Z]){2}).{8,}" #password="ngModel" ngModel>
                    <mat-error *ngIf="password.errors?.['required']">Password required</mat-error>
                    <mat-error *ngIf="password.errors?.['pattern']">Password must contain at least 8 characters including 2 uppercase letters and 1 digit</mat-error>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" (click)="validation(username.value, password.value)" [disabled]="!loginForm.form.valid">
                <mat-icon>login</mat-icon> Login
            </button>
        </form>
    </div>
</div>

