<div class="container">
<div class="login" id="login">
    <form name="login-form" method="get" action="#">
      <label for="username"><h2>Username</h2></label>
      <input type="text" placeholder="username" id="username" required/>
      <label for="password"><h2>Password</h2></label>
      <div class="wrapper-psw"><input type="password" id="password" placeholder="password" required
                                      pattern="(?=.*\d)(?=(.*[A-Z]){2}).{8,}"
                                      title="Must contain at least one number and two uppercase
                    and at least 8 or more characters"
                                      onfocus="pswfocus()" onblur="pswonblur()" onkeyup="psw_validate()"/>
      </div>
      <input type="submit" name="submit" value="Login" onclick="process()"/>
    </form>
  </div>
</div>