.list{
    margin: 2px;
}

h3{
    font-size: 24px;
    font-weight: bold
}

.liked{
    color:blue;
}

.place {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px;
}
.place span {
    margin-right: 10px;
}

.place mat-icon{
    scale: 2;
}
