.container{
    display: flex;
    margin-left: 300px;
    margin-right: 100px;
    justify-content: space-between;
}

ul{
    width: 500px;
    padding: 10px;
    box-sizing: border-box;
}

ul li{
    display:flex;
    background: deepskyblue;
    padding: 10px 20px;
    transition: 0.5s;
    margin: 10px;
}

.containerForm{
    padding: 15px;
    margin-top: 10%;
    background: springgreen;
    border :5px solid;
    border-radius: 25px;
    overflow: hidden;
}