.table {
  width: 100%;
}


.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}
.mat-mdc-cell{
  height: 50px;
}
.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}
.mat-icon {
  z-index: 0; /* Or any other value you want to set */
}
.addLinkButton{
  position: absolute;
  right: 15px;
}
.co-title{
  width: 40%;
}
.co-utils{
  width: 48px;
}

.liked {
  color: blue;
}