<mat-toolbar class="toolbar">Welcome to the Linklist
  <button class="addLinkButton" mat-raised-button color="primary" (click)="openAddLinkDialog()">Add a Link</button>
</mat-toolbar>

<table mat-table matSort [dataSource]="dataSource" class="table">
  <ng-container matColumnDef="title">
    <th mat-header-cell mat-sort-header *matHeaderCellDef  class="co-title"> Title </th>
    <td mat-cell *matCellDef="let Linkkk"> {{Linkkk.title}} </td>
  </ng-container>
  <ng-container matColumnDef="desc">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let Linkkk"> {{Linkkk.desc}}</td>
  </ng-container>
  <ng-container matColumnDef="like">
    <th mat-header-cell mat-sort-header="likes" *matHeaderCellDef> Likes </th>
    <td mat-cell *matCellDef="let Linkkk" class="co-utils"> <button mat-raised-button (click)="lb.onLikeClick($event, Linkkk.id, Linkkk)" [disabled]="!log">
      <mat-icon [ngClass]="{ 'liked': lb.isLiked(Linkkk) }">thumb_up_alt</mat-icon>{{Linkkk.likes}}</button></td>
  </ng-container>
  <ng-container matColumnDef="buttons">
    <th mat-header-cell *matHeaderCellDef> Open </th>
    <td mat-cell *matCellDef="let Linkkk" class="co-utils"> <a href="{{Linkkk.url}}" target=”_blank” mat-icon-button aria-label="Open Youtube in a new Tab"><mat-icon>launch</mat-icon> </a></td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="row.id"> </tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 30, 50]"></mat-paginator>
